body{background: black;}

.site{
    text-align: center;
    width: 50%;
    margin:auto;
    background-color:rgb(92, 92, 92);
    height: fit-content;
}

.titulo{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    height: 120px;
    background-color:rgb(69, 35, 223);
    color:white;
    padding-top:40px;

    
}

.meio{
    width:800px;
}

/* classe trata o texto de título*/
.textot{
    text-align:center;
 
}
.texto{ color: white; font-family: arial, sans-serif;}

.lateral{
    text-align: left;
    margin-left:50px;
    color:white;
}