.geral{
    text-align: center;
    width: 900px;
    align-self: center;
}

.topo{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    height: 120px;
    background-color:rgb(69, 35, 223);
    color:white;
    
}

.meio{
    width:780px;
}

/* classe trata o texto de título*/
.textot{
    text-align:center;
    vertical-align:bottom;
}

.lateral{
    text-align: left;
    margin-left:200px;
}