*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    background-color:gray;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 2fr;
    grid-template-areas: 
        "cabecalho" 
        "principal" 
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color:#021b38;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color:rgb(51, 51, 51);
    padding: 20px;
    align-self: center;
}

.rodape{
    grid-area: rodape;
    background-color: #fff;
    position: sticky;
    bottom: 0px;
}

.w3-sidebar{
    margin-left: 300px;
    box-sizing:border-box;
    width: 160px;
    text-align: center;
    background-color:aqua;
}